hr.style1{
    border-top: 1px solid black;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 0%
}
  
.btn {
    background-color: rgba(255, 255, 0, 0.822);
    border: none;
    color: black;
    padding: 4px 6px;
    font-size: 15px;
    cursor: pointer;
  }
  
.btn:hover {
    background-color:rgba(0, 0, 0, 0.801);
    color: white
  }

  .head{
    background-color: rgba(128, 128, 128, 0.678);
     width: 100%;
     padding-left: 5px;
     margin-top: 3px
  }
  .fa_{
    float: right;
    padding-top: 5px;
    padding-right: 5px
  }