.header {
    background: url(../assets/Mountains-grass-wooden-house-wildflowers_2560x1600.jpg) no-repeat center;
    background-size: cover;
    height: 600px;

  }
  .navbar_{
    background: rgba(0, 0, 0, 0.5);
    padding-right: 12%;
    
  }
  .navbar_1{
    background: rgba(0, 0, 0, 0.5);
    
  }
  .navbar_ h5{
      color: yellow;
  }
  
  .navbar-brand{
      color: white;
      font-size: 1rem
  }
 
  a.navbar-brand:hover{
      color: yellow
  }
  .navbar_1 p{
      color: yellow;
      font-weight: bold;
      margin-top: 10px

  }
  