<div class="container margin" id="mycontainer">
  <footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <h5>LATEST BLOG POST</h5>
          <ul>
            <li><a href="#">Company Information</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
          <hr class="style2">
        </div>
        <div class="col-md-5">
          <div class="divBorder">
            <h6>WHETARE, REACHEWRS</h6>
            <p> Si una propiedad shorthand no establece la vida </p>
            <div class="row footer_">
              <div class="col-md-6">
                <h6>Telefono</h6>
                <p class=color>(031)233 45 78</p>
              </div>
              <div class="col-md-6">
                <h6>Direccion</h6>
                <p class=color>Carrera 45 N° 3 - 26, Bogota DC</p>
              </div>
            </div>
            <hr class="style2"><br><br>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <p>© 2018 Copyright Text </p>
    </div>
  </footer>
</div>